ci:
  autofix_prs: true

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff-format
        args: ["--diff", "src", "tests"]
      - id: ruff-check
        args: ["src", "tests"]

  - repo: https://github.com/PyCQA/doc8
    rev: v2.0.0
    hooks:
      - id: doc8
        additional_dependencies:
          - toml
