{% for service in output_file.services %}
class {{ service.py_name }}Stub(ServiceStub):
    {% if service.comment %}
{{ service.comment }}

    {% elif not service.methods %}
    pass
    {% endif %}
    {% for method in service.methods %}
    async def {{ method.py_name }}(self
        {%- if not method.client_streaming -%}
            , {{ method.py_input_message_param }}: "{{ method.py_input_message_type }}"
        {%- else -%}
            {# Client streaming: need a request iterator instead #}
            , {{ method.py_input_message_param }}_iterator: "{{ output_file.typing_compiler.union(output_file.typing_compiler.async_iterable(method.py_input_message_type), output_file.typing_compiler.iterable(method.py_input_message_type)) }}"
        {%- endif -%}
            ,
            *
            , timeout: {{ output_file.typing_compiler.optional("float") }} = None
            , metadata: {{ output_file.typing_compiler.optional("MetadataLike") }} = None
            , credentials: {{ output_file.typing_compiler.optional("grpc.CallCredentials") }} = None
            , wait_for_ready: {{ output_file.typing_compiler.optional("bool") }} = None
            ) -> "{% if method.server_streaming %}{{ output_file.typing_compiler.async_iterator(method.py_output_message_type ) }}{% else %}{{ method.py_output_message_type }}{% endif %}":
        {% if method.comment %}
{{ method.comment }}

        {% endif %}
        {% if method.proto_obj.options.deprecated %}
        warnings.warn("{{ service.py_name }}.{{ method.py_name }} is deprecated", DeprecationWarning)

        {% endif %}
        {% if method.server_streaming %}
            {% if method.client_streaming %}
        async for response in self._stream_stream(
            "{{ method.route }}",
            {{ method.py_input_message_param }}_iterator,
            {{ method.py_input_message_type }},
            {{ method.py_output_message_type.strip('"') }},
            timeout=timeout,
            metadata=metadata,
            credentials=credentials,
            wait_for_ready=wait_for_ready,
        ):
            yield response
            {% else %}{# i.e. not client streaming #}
        async for response in self._unary_stream(
            "{{ method.route }}",
            {{ method.py_input_message_param }},
            {{ method.py_output_message_type.strip('"') }},
            timeout=timeout,
            metadata=metadata,
            credentials=credentials,
            wait_for_ready=wait_for_ready,
        ):
            yield response

            {% endif %}{# if client streaming #}
        {% else %}{# i.e. not server streaming #}
            {% if method.client_streaming %}
        return await self._stream_unary(
            "{{ method.route }}",
            {{ method.py_input_message_param }}_iterator,
            {{ method.py_input_message_type }},
            {{ method.py_output_message_type.strip('"') }},
            timeout=timeout,
            metadata=metadata,
            credentials=credentials,
            wait_for_ready=wait_for_ready,
        )
            {% else %}{# i.e. not client streaming #}
        return await self._unary_unary(
            "{{ method.route }}",
            {{ method.py_input_message_param }},
            {{ method.py_output_message_type.strip('"') }},
            timeout=timeout,
            metadata=metadata,
            credentials=credentials,
            wait_for_ready=wait_for_ready,
        )
            {% endif %}{# client streaming #}
        {% endif %}

    {% endfor %}
{% endfor %}

{% for i in output_file.imports_end %}
{{ i }}
{% endfor %}

{% for service in output_file.services %}
class {{ service.py_name }}Base(ServiceBase):
    {% if service.comment %}
{{ service.comment }}

    {% endif %}

    {% for method in service.methods %}
    async def {{ method.py_name }}(self
        {%- if not method.client_streaming -%}
            , {{ method.py_input_message_param }}: "{{ method.py_input_message_type }}"
        {%- else -%}
            {# Client streaming: need a request iterator instead #}
            , {{ method.py_input_message_param }}_iterator: {{ output_file.typing_compiler.async_iterator(method.py_input_message_type) }}
        {%- endif -%}
            ) -> {% if method.server_streaming %}{{ output_file.typing_compiler.async_iterator(method.py_output_message_type) }}{% else %}"{{ method.py_output_message_type }}"{% endif %}:
        {% if method.comment %}
{{ method.comment }}

        {% endif %}
        {% if method.server_streaming %}
        await self._grpcio_unimplemented("{{ method.grpcio_method_name }}")
        yield {{ method.py_output_message_type.strip('"') }}()
        {% else %}
        return await self._grpcio_unimplemented("{{ method.grpcio_method_name }}")
        {% endif %}

    {% endfor %}

    def _grpcio_rpc_handler(self) -> grpc.GenericRpcHandler:
        return self._grpcio_generic_rpc_handler(
            "{{ service.grpcio_service_name }}",
            {
            {% for method in service.methods %}
                "{{ method.proto_name }}": self._grpcio_{% if not method.client_streaming and not method.server_streaming %}unary_unary{% elif not method.client_streaming and method.server_streaming %}unary_stream{% elif method.client_streaming and not method.server_streaming %}stream_unary{% else %}stream_stream{% endif %}_rpc_method_handler(
                    self.{{ method.py_name }},
                    {{ method.py_input_message_type }},
                    {{ method.py_output_message_type }},
                ),
            {% endfor %}
            },
        )

{% endfor %}
